<h1>Stupid Coaching</h1>

<h2><%=@message%></h2>
<h3><%=link_to "clic dessus", "http://localhost:3000/ask" %></h3>

<%# <ul>
  <li> I am going to work.</li>
  <li>Silly question, get dressed and go to work!</li>
  <li>I don't care, get dressed and go to work!.</li>
</ul> %>
